<matgeo-action-bar>
  <button class="menu-action" mat-icon-button (click)="onBackButton()">
    <mat-icon>west</mat-icon>
  </button>
</matgeo-action-bar>

<matgeo-country-detail></matgeo-country-detail>
