:host {
  display: block;
}

.image-wrapper {
  &__cover {
    @media (max-width: 360px) {
      height: 11rem;
    }
  }

  &__flag {
    @apply absolute rounded-full object-cover h-14 -bottom-8 right-8;
    box-shadow:
      0 3px 5px -1px rgb(0 0 0 / 20%),
      0 6px 10px 0px rgb(0 0 0 / 14%),
      0 1px 18px 0px rgb(0 0 0 / 12%);
  }
}

.agm-map {
  height: calc(100vh - 6.5rem);
}
