<mat-tab-group mat-stretch-tabs color="accent" backgroundColor="primary">
  <mat-tab label="{{ 'tabs.basic' | transloco }}">
    <ng-template matTabContent>
      <ng-container *ngIf="basicInfoList.length">
        <div *ngIf="!!heroImage" class="image-wrapper relative h-56">
          <img
            #cover
            class="image-wrapper__cover object-cover image-loading"
            [ngSrc]="heroImage"
            [fill]="true"
            priority="high"
            (load)="onImageLoad(cover)"
          />

          <img
            class="image-wrapper__flag"
            *ngIf="!!flag"
            [ngSrc]="flag"
            width="56"
            height="56"
          />
        </div>

        <matgeo-icon-list [items]="basicInfoList"></matgeo-icon-list>
      </ng-container>
    </ng-template>
  </mat-tab>

  <mat-tab label="{{ 'tabs.details' | transloco }}">
    <ng-template matTabContent>
      <ng-container *ngIf="detailInfoList.length">
        <matgeo-icon-list [items]="detailInfoList"></matgeo-icon-list>

        <matgeo-details-expandable [items]="expandableItems">
        </matgeo-details-expandable>
      </ng-container>

      <matgeo-border-country-list
        [items]="borderCountries"
      ></matgeo-border-country-list>
    </ng-template>
  </mat-tab>

  <mat-tab label="{{ 'tabs.map' | transloco }}">
    <ng-template matTabContent>
      <ng-container *ngIf="mapSettings">
        <agm-map
          class="agm-map block"
          [latitude]="mapSettings.lat"
          [longitude]="mapSettings.lon"
          [zoom]="mapSettings.zoom"
          [minZoom]="mapSettings.minZoom"
          [maxZoom]="mapSettings.maxZoom"
          [disableDefaultUI]="true"
        >
          <agm-marker
            [latitude]="mapSettings.lat"
            [longitude]="mapSettings.lon"
          ></agm-marker>
        </agm-map>
      </ng-container>
    </ng-template>
  </mat-tab>
</mat-tab-group>
