@use '/src/mixin' as *;

:host {
  @apply flex flex-col w-full items-center justify-center;
}

.icon {
  @include previewIcon;

  @media (min-width: 1280px) {
    @include previewIcon(22rem);
  }
}

.text {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
