<mat-toolbar color="primary">
  <ng-content select=".menu-action"></ng-content>
  <span class="app__title text-xl ml-4">{{ title$ | async }}</span>
  <ng-container *ngIf="isLoading$ | async">
    <mat-progress-spinner
      class="ml-2"
      color="accent"
      diameter="20"
      mode="indeterminate"
    ></mat-progress-spinner>
  </ng-container>
  <span class="flex-auto"></span>

  <ng-content></ng-content>

  <div *ngIf="!disableSettings" class="block md:hidden">
    <button
      mat-icon-button
      [matTooltip]="'common.settings' | transloco"
      routerLink="/settings"
    >
      <mat-icon>settings</mat-icon>
    </button>
  </div>

  <div class="hidden md:block">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      [matTooltip]="'common.menu_language' | transloco"
    >
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <matgeo-select-language></matgeo-select-language>
    </mat-menu>
  </div>

  <div class="hidden md:block">
    <button
      mat-icon-button
      [matMenuTriggerFor]="theme"
      [matTooltip]="'common.menu_theme' | transloco"
    >
      <mat-icon>format_color_fill</mat-icon>
    </button>
    <mat-menu #theme="matMenu">
      <matgeo-select-theme></matgeo-select-theme>
    </mat-menu>
  </div>
</mat-toolbar>
