<div class="h-full">
  <ng-container *ngIf="mapSettings">
    <agm-map
      class="agm-map h-1/2"
      [latitude]="mapSettings.lat"
      [longitude]="mapSettings.lon"
      [zoom]="mapSettings.zoom"
      [minZoom]="mapSettings.minZoom"
      [maxZoom]="mapSettings.maxZoom"
      [disableDefaultUI]="true"
    >
      <agm-marker
        [latitude]="mapSettings.lat"
        [longitude]="mapSettings.lon"
      ></agm-marker>
    </agm-map>
  </ng-container>
</div>

<div class="absolute bottom-0 w-full h-2/4 p-4 overflow-y-scroll">
  <div class="flex align-baseline mb-4 text-lg">
    <h3>{{ name }}</h3>
    <mat-icon matListItemIcon color="primary" class="mx-2">flag</mat-icon>
    <h3>{{ capital }}</h3>
  </div>

  <mat-divider></mat-divider>

  <mat-tab-group mat-stretch-tabs mat-align-tabs="start" color="accent">
    <mat-tab label="{{ 'tabs.basic' | transloco }}">
      <ng-template matTabContent>
        <ng-container *ngIf="basicInfoList.length">
          <matgeo-icon-list [items]="basicInfoList"></matgeo-icon-list>
        </ng-container>
      </ng-template>
    </mat-tab>

    <mat-tab label="{{ 'tabs.details' | transloco }}">
      <ng-template matTabContent>
        <ng-container *ngIf="detailInfoList.length">
          <matgeo-icon-list [items]="detailInfoList"></matgeo-icon-list>
        </ng-container>
      </ng-template>
    </mat-tab>

    <mat-tab label="{{ 'tabs.more' | transloco }}">
      <ng-template matTabContent>
        <ng-container *ngIf="moreInfoList.length">
          <matgeo-icon-list [items]="moreInfoList"> </matgeo-icon-list>
        </ng-container>

        <matgeo-details-expandable [items]="expandableItems">
        </matgeo-details-expandable>

        <matgeo-border-country-list
          [items]="borderCountries"
        ></matgeo-border-country-list>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
