<div class="relative w-3/5 2xl:w-2/3">
  <ng-container *ngIf="mapSettings">
    <div class="absolute bottom-8 left-4 z-10">
      <mat-chip-listbox>
        <mat-chip>
          {{
            "details.lat"
              | transloco: { param: mapSettings.lat | number: "2.2-4" }
          }}
        </mat-chip>
        <mat-chip>
          {{
            "details.lon"
              | transloco: { param: mapSettings.lon | number: "2.2-4" }
          }}
        </mat-chip>
        <mat-chip>&#945;2: {{ alpha2Code }}</mat-chip>
        <mat-chip>&#945;3: {{ alpha3Code }}</mat-chip>
      </mat-chip-listbox>
    </div>
    <agm-map
      class="h-full"
      [latitude]="mapSettings.lat"
      [longitude]="mapSettings.lon"
      [zoom]="mapSettings.zoom"
      [minZoom]="mapSettings.minZoom"
      [maxZoom]="mapSettings.maxZoom"
      [disableDefaultUI]="true"
    >
      <agm-marker
        [latitude]="mapSettings.lat"
        [longitude]="mapSettings.lon"
      ></agm-marker>
    </agm-map>
  </ng-container>
</div>

<mat-card class="details-card w-2/5 2xl:w-1/3 overflow-y-auto">
  <mat-card-header>
    <img
      *ngIf="!!flag"
      mat-card-avatar
      class="object-cover"
      width="40"
      height="40"
      [ngSrc]="flag"
      [alt]="name + ' flag'"
    />
    <mat-card-title>{{ name }}</mat-card-title>
    <mat-card-subtitle>{{ capital }}</mat-card-subtitle>
  </mat-card-header>

  <div *ngIf="!!heroImage" class="relative h-60 min-h-[15rem]">
    <img
      #cover
      mat-card-image
      class="max-w-none object-cover image-loading"
      [ngSrc]="heroImage"
      [fill]="true"
      (load)="onImageLoad(cover)"
    />
  </div>

  <mat-card-content>
    <mat-tab-group mat-stretch-tabs mat-align-tabs="start" color="accent">
      <mat-tab label="{{ 'tabs.basic' | transloco }}">
        <ng-template matTabContent>
          <ng-container *ngIf="basicInfoList.length">
            <matgeo-icon-list [items]="basicInfoList"></matgeo-icon-list>
          </ng-container>
        </ng-template>
      </mat-tab>

      <mat-tab label="{{ 'tabs.details' | transloco }}">
        <ng-template matTabContent>
          <ng-container *ngIf="detailInfoList.length">
            <matgeo-icon-list [items]="detailInfoList"> </matgeo-icon-list>
          </ng-container>

          <matgeo-details-expandable [items]="expandableItems">
          </matgeo-details-expandable>

          <matgeo-border-country-list
            [items]="borderCountries"
          ></matgeo-border-country-list>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
