<matgeo-action-bar [disableSettings]="true">
  <button class="menu-action" mat-icon-button (click)="onBackClick()">
    <mat-icon>west</mat-icon>
  </button>
</matgeo-action-bar>

<section class="py-5 px-4">
  <div class="flex flex-row pl-1">
    <mat-icon color="primary">language</mat-icon>
    <h4 class="ml-6 text-lg">{{ 'settings.lang' | transloco }}</h4>
  </div>
  <div class="ml-16 mt-4">
    <matgeo-select-language></matgeo-select-language>
  </div>
</section>

<mat-divider></mat-divider>

<section class="py-5 px-4">
  <div class="flex flex-row pl-1">
    <mat-icon color="primary">palette</mat-icon>
    <h4 class="ml-6 text-lg">{{ 'settings.theme' | transloco }}</h4>
  </div>

  <div class="ml-16 mt-4">
    <matgeo-select-theme></matgeo-select-theme>
  </div>
</section>

<mat-divider></mat-divider>

<p class="muted-text mt-4 ml-5 text-sm italic">
  {{ 'settings.app_name' | transloco }} &copy; {{ currentYear }}
</p>

