<matgeo-action-bar
  [ngClass]="{
    'search-full-width': isMobileView,
    'search-visible': isSearchVisible
  }"
>
  <div
    class="search__wrapper w-full hidden items-center md:w-1/2 md:flex lg:w-2/5 xl:w-1/3"
    [ngClass]="{ open: isSearchVisible }"
  >
    <mat-icon class="mr-2">search</mat-icon>
    <input
      #searchField
      class="search__input flex-1 text-sm mr-2"
      [placeholder]="'common.search_placeholder' | transloco"
    />
    <button
      mat-icon-button
      class="opacity-50"
      [matTooltip]="'common.clear_search' | transloco"
      (click)="clearSearch()"
    >
      <mat-icon>backspace</mat-icon>
    </button>
  </div>

  <button
    mat-icon-button
    class="search__button"
    (click)="isSearchVisible = !isSearchVisible"
  >
    <ng-container *ngIf="isSearchVisible; else openSearch">
      <mat-icon>close</mat-icon>
    </ng-container>

    <ng-template #openSearch>
      <mat-icon>search</mat-icon>
    </ng-template>
  </button>
</matgeo-action-bar>

<div class="flex flex-row">
  <matgeo-country-list
    (selectedId)="onCountrySelected($event)"
  ></matgeo-country-list>

  <ng-container *ngIf="!isMobileView">
    <ng-container *ngIf="country$ | async; else preview">
      <matgeo-country-detail class="md:w-3/5 xl:w-9/12"></matgeo-country-detail>
    </ng-container>
  </ng-container>
</div>

<!-- Not implemented -->
<!--button
  mat-fab
  color="warn"
  class="bottom-8 right-8 z-20"
  routerLink="/search"
>
  <mat-icon>manage_search</mat-icon>
</button-->

<ng-template #preview>
  <matgeo-preview></matgeo-preview>
</ng-template>
