@use "/src/mixin" as *;

:host {
  position: relative;
  display: block;
  @include full-height;
}

.search {
  &__wrapper.open {
    display: flex;
  }

  &__input {
    background: unset;
    border-bottom: 1px solid #fff;

    &:focus-visible {
      outline: none;
    }
  }

  &__button {
    @include md {
      display: none;
    }
  }
}
