<mat-divider inset></mat-divider>
<mat-expansion-panel class="mat-elevation-z0">
  <mat-expansion-panel-header>
    <mat-panel-title class="pt-2">
      <mat-icon class="box-content" color="primary">
        {{ icon }}
      </mat-icon>
      <span
        class="ml-8 text-base font-normal"
        [matBadge]="items?.length"
        matBadgeColor="accent"
        matBadgeOverlap="false"
        matBadgeSize="small"
        >{{ title }}</span
      >
    </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-content></ng-content>
</mat-expansion-panel>
