@mixin full-height {
  height: calc(100vh - 4rem);
}

@mixin md() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin previewIcon($size: 14rem) {
  width: $size;
  height: $size;
  font-size: $size;
}
