@use "@angular/material" as material;

@include material.core();

material.$theme-ignore-duplication-warnings: true;

@mixin color($color, $alpha) {
  color: rgba($color, $alpha);
}

@mixin scrollbar($trackColor, $thumbColor: lighten($trackColor, 12%)) {
  ::-webkit-scrollbar-track {
    background: $trackColor;
  }

  ::-webkit-scrollbar-thumb {
    background: $thumbColor;
  }

  scrollbar-color: $thumbColor, $trackColor;
}

$dark-primary-text: rgba(#000, 0.87);
$light-primary-text: #fff;
$muted-icon-clr: rgba(0, 0, 0, 0.15);

:root {
  --list-highlight-clr: rgba(0, 0, 0, 0.12);
  --img-loading-clr: #d3d3d3;
}

$mat-primary: (
  50: #f3e5f5,
  100: #e1bee7,
  200: #ce93d8,
  300: #ba68c8,
  400: #ab47bc,
  500: #9c27b0,
  600: #8e24aa,
  700: #7b1fa2,
  800: #6a1b9a,
  900: #4a148c,
  A100: #ea80fc,
  A200: #e040fb,
  A400: #d500f9,
  A700: #aa00ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$mat-accent: (
  50: #e8f5e9,
  100: #c8e6c9,
  200: #a5d6a7,
  300: #81c784,
  400: #66bb6a,
  500: #4caf50,
  600: #43a047,
  700: #388e3c,
  800: #2e7d32,
  900: #1b5e20,
  A100: #b9f6ca,
  A200: #69f0ae,
  A400: #00e676,
  A700: #00c853,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$mat-danger: (
  50: #fbe9e7,
  100: #ffccbc,
  200: #ffab91,
  300: #ff8a65,
  400: #ff7043,
  500: #ff5722,
  600: #f4511e,
  700: #e64a19,
  800: #d84315,
  900: #bf360c,
  A100: #ff9e80,
  A200: #ff6e40,
  A400: #ff3d00,
  A700: #dd2c00,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$primary-pallet: material.define-palette($mat-primary);
$accent-pallet: material.define-palette($mat-accent);
$danger-pallet: material.define-palette($mat-danger);

$theme-dark: material.define-dark-theme(
  (
    color: (
      primary: $primary-pallet,
      accent: $accent-pallet,
      warn: $danger-pallet
    ),
    typography: material.define-typography-config(),
    density: 0
  )
);

$theme-light: material.define-light-theme(
  (
    color: (
      primary: $primary-pallet,
      accent: $accent-pallet,
      warn: $danger-pallet
    ),
    typography: material.define-typography-config(),
    density: 0
  )
);

body {
  &.dark {
    @include material.all-component-themes($theme-dark);
    @include scrollbar(#303030);
    --list-highlight-clr: rgba(255, 255, 255, 0.12);
    --img-loading-clr: #{$light-primary-text};

    .muted-text {
      @include color($light-primary-text, 0.4);
    }
  }

  &.light {
    @include material.all-component-themes($theme-light);
    @include scrollbar(#fafafa, $muted-icon-clr);

    .muted-text {
      @include color($dark-primary-text, 0.4);
    }
  }
}

.mat-mdc-list-item-icon {
  color: material.get-color-from-palette($mat-primary, 500) !important;
}

.muted-icon {
  color: $muted-icon-clr;
}

.image-loading {
  background-color: var(--img-loading-clr) !important;
  animation: pulse 1500ms infinite linear;
}
