@use "palette";

@tailwind base;
@tailwind utilities;
//@tailwind components;

/*mat-geo-home,
mat-geo-detail {
  button[mat-fab] {
    position: fixed !important;
  }
}*/

.snackbar-error .mat-simple-snackbar-action {
  border-radius: 4px;
}

.mat-badge-small.mat-badge-above .mat-badge-content {
  top: -4px !important;
}

.mdc-evolution-chip-set__chips {
  gap: 0.5rem;
}

.loading {
  transform: translate(-50%, -50%);

  &-circle {
    border: 0.5rem solid rgba(#000, 0.1);
    border-top: 0.5rem solid rgba(#000, 0.4);
    animation: loading 1.5s infinite linear;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 0.3;
  }
  30%,
  70% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
}
