@use "/src/mixin" as *;

:host {
  @apply w-full md:w-2/5 xl:w-3/12;

  @include md {
    border-right: 1px solid var(--list-highlight-clr);
  }
}

.country-list-item.mdc-list-item--selected {
  background-color: var(--list-highlight-clr);
}

.list {
  overflow-y: auto;
  @include full-height;
}
