<ng-container *ngIf="countries$ | async as countries">
  <mat-selection-list
    hideSingleSelectionIndicator
    infiniteScroll
    [infiniteScrollDistance]="2"
    [scrollWindow]="false"
    [multiple]="false"
    (scrolled)="loadCountries()"
    class="list"
  >
    <mat-list-option
      *ngFor="let country of countries"
      class="country-list-item"
      (click)="onItemClick(country.id)"
      [selected]="country.id === selectedCountryId"
    >
      <img
        #flag
        *ngIf="!!country.flag"
        matListItemAvatar
        class="drop-shadow object-cover image-loading"
        width="40"
        height="40"
        [ngSrc]="country.flag"
        [alt]="country.name"
        (load)="onImageLoad(flag)"
      />

      <h4 matListItemTitle>{{ country.name }}</h4>
      <span class="text-sm inline-block mt-2">{{ country.capital }}</span>
      <mat-divider inset></mat-divider>
    </mat-list-option>
  </mat-selection-list>
</ng-container>
